.Interface {
    text-align: center;
    font-size: 200%;
    font-weight: 1000;
    user-select: none;
}

.Interface .Top {
    width: 100%;
    height: 7.5vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    display: flex;

    z-index: 10;
}

.Interface .Top > * {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    border-radius: 15px;
    
    
    width: 20vw;
    height: 100%;

    z-index: inherit;
}

.Interface .Top .Indicator {
    background-color: yellow;
    z-index: 2;
}

.Interface .Top .Indicator img {
    float: right;
    width: auto;
    max-height: 100%;
}





.Interface button {
    font-size: 150%;
    background-color: hsl(60, 100%, 50%);
}

.Interface button:hover {
    background-color: hsl(60, 100%, 70%);
}

.Interface button:active {
    background-color: hsl(60, 100%, 30%);
}

.Interface button.green {
    background-color: hsl(84, 100%, 59%);
}
.Interface button.green:hover {
    background-color: hsl(84, 100%, 79%);
}
.Interface button.green:active {
    background-color: hsl(84, 100%, 39%);
}



.Interface .Menu {
    position: absolute;
    right: 2.5vw;
    width: 20vw;

    top: 2.5vh;
    height: 85vh;

    padding-top: 10vh;
    border-radius: 15px;

    background-color: hsla(84, 100%, 59%, 0.5);

    z-index: 5;
    display: none;

    > * {
        margin-bottom: 2.5vh;
    }
}