.Gameplay {
    background-image: url('./Background.jpg');
    background-size: cover;
    background-position: center;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
}

.Gameplay .Content {
    width: 95vw;
    height: 85vh;

    border-radius: 15px;
    margin: auto;

    background-color: aquamarine;
}