div.Chat{
    display: flex;
    flex-direction: column;

    flex: 1;

    overflow-x: hidden;
    
    div.Messages {
        height: 100%;

        scrollbar-width: none;
        overflow-y: scroll;
        font-size: larger;

        border-radius: 15px;
        background-color: wheat;

        margin-bottom: 15px;
        padding: 3px;
    }

    input{
        width: calc(100% - 5px);
        font-size: larger;
    }
}