.Entrance {
    background-image: url('./Background.jpg');
    background-size: cover;
    background-position: center;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Form {
    max-height: 100vh;

    width: 40vw;

    background-color: rgba(108, 220, 59, 0.737);
    border-radius: 10%;

    padding: 2%;
}


.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container button {
    width: 47.5%;
}





h1 {
    text-align: center;

    font-size: 200%;
    font-weight: 1000;
}


label {
    font-size: 150%;
}

button {
    width: 100%;
    border-radius: 15px;
    
    border: none;

    font-size:250%;
    background-color: hsl(180, 100%, 50%);
}

button:hover {
    background-color: hsl(180, 100%, 70%);
}

button:active {
    background-color: hsl(180, 100%, 30%);
}

button.red {
    background-color: hsl(0, 100%, 50%);
}
button.red:hover {
    background-color: hsl(0, 100%, 70%);
}
button.red:active {
    background-color: hsl(0, 100%, 30%);
}

button.green {
    background-color: hsl(84, 100%, 59%);
}
button.green:hover {
    background-color: hsl(84, 100%, 79%);
}
button.green:active {
    background-color: hsl(84, 100%, 39%);
}

button.orange {
    background-color: hsl(39, 100%, 50%);
}
button.orange:hover {
    background-color: hsl(39, 100%, 70%);
}
button.orange:active {
    background-color: hsl(39, 100%, 30%);
}

input {
    width: 100%;
    border-radius: 15px;


    border: none;
    margin-bottom: 5%;

    font-size:250%;
}